@charset "UTF-08";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #468faf, #89c2d9, #a9d6e5);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(122, 107, 107, 0.678);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #013a63;
    text-align: center;
    text-shadow: 1px 1px 2px #012c4be7;
}

h2 {
    color: #01497c;
}

p {
    text-align: justify;
}